.nav {
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #060815;
    letter-spacing: 2px;
    font-variant: all-petite-caps;
}

.spasexImg {
    width: 160px;
}

.navItem {
    font-size: 23px;
    cursor: pointer;
}

.navItem:hover {
    color: turquoise;
}